/* GLOBAL STYLING */
:root {
  --LC-Vivid-Blue: #0e5fe3;
  --LC-Black: #191919;
  --LC-Light-Greyish-Blue: #f6f7f8;
  --LC-Dark-Blue: #0a49af;
  --LC-Sky-Blue: #2ab7fe ;
}

html, body {
  font-family: 'Nunito Sans', sans-serif;
}

.main {
  text-align: center;
}

h2 {
  color: var(--LC-Dark-Blue);
  font-weight: 400;
  font-size: x-large;
  margin-block-start: 2em;
  margin-block-end: 2em;
}

h3 {
  color: var(--LC-Dark-Blue);
  font-weight: 600;
  font-size: x-large;
}

p {
  font-size: small;
}
/* NAVBAR  */
.navbarContainer {
  width: 100%;
  background-color: var(--LC-Vivid-Blue);
  position: fixed;
  top: 0;
  z-index: 5;
}

.toolbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1013px) {
  .toolbar {
    width: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.fa-solid.fa-bars {
  padding: 25px;
}

.centreNavGroup {
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.navMenuDiv {
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.logoButton {
  max-height: 25px;
  padding: 25px;
}

/* GENERAL CONTENT ITEMS */
.contentContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

@media only screen and (max-width: 1013px) {
  .contentContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.flex-item-1 {
  width: 50%;
  align-self: center;
  display: block;
}

@media only screen and (max-width: 1013px) {
  .flex-item-1 {
    width: 100%;
    align-self: center;
    display: block;
  }
}

p.textBlock {
  color: #6c6c6c ;
  font-size: small;
  width: 80%;
}

@media only screen and (max-width: 1013px) {
  p.textBlock {
    color: #6c6c6c ;
    font-size: small;
    width: 100%;
  }
}

.textBlock {
  text-align: left;
}

.textBlock.flex-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.imageBlock.flex-item-1 {
  margin-top: 30px;
}

@media only screen and (max-width: 1013px) {
  .imageBlock.flex-item-1 {
    width: 90%;
  }
  .textBlock.flex-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px;
  }
}

/* MAIN CONTENT ROWS */
.light-grey-bg {
  background-color: var(--LC-Light-Greyish-Blue);
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1013px) {
  .light-grey-bg {
    background-color: var(--LC-Light-Greyish-Blue);
    height: 650px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.white-bg{
  background-color: #ffffff;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1013px) {
  .white-bg{
    background-color: #ffffff;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contentImage {
  max-width: 85%;
  max-height: 90%;
}

/* HERO BANNER */
.hero-flex-item-1 {
  width: 35%;
  padding-left: 25px;
  padding-right: 25px;
  align-self: baseline;
}

@media only screen and (max-width: 1013px) {
  .hero-flex-item-1 {
    width: 100%;
    align-self: center;
  }
}
.hero-flex-item-2 {
  width: 70%;
  align-self: center;

}

.heroDiv {
  background-image: linear-gradient(to top, var(--LC-Dark-Blue), var(--LC-Vivid-Blue) 90%, var(--LC-Vivid-Blue));
  height: 350px;
  color: #ffffff;
  text-align: left;
  z-index: 0;
  margin-top: 75px;
  padding-top: 5%;
  overflow: hidden;
  justify-content: space-between;
}

@media only screen and (max-width: 1013px) {
  .heroDiv {
    background-image: linear-gradient(to top, var(--LC-Dark-Blue), var(--LC-Vivid-Blue) 90%, var(--LC-Vivid-Blue));
    height: 550px;
    color: #ffffff;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    justify-content: space-between;
  }
}

.circleDiv {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 80px solid var(--LC-Vivid-Blue);
  z-index: 3;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.heroImage {
  width: 492px;
  height: 310px;
  z-index: 2;
  top: 80px;
  left: -40px;
  position: relative;
}
.heroImage-mobile {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.heroText {
  margin-top: 25px;
  margin-bottom: 25px;
}

.heroContentContainer{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 25vh;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1013px) {
  .heroContentContainer{
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    height: 500px;
    justify-content: space-evenly;
  }
}

/* BUTTONS */
.accountButton {
  background-color: var(--LC-Sky-Blue);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: small;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 25px 0 0;
}

@media only screen and (max-width: 1013px) {
  .accountButton {
    background-color: var(--LC-Sky-Blue);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
  }
}

.navButton {
  background-color: transparent;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  border: none;
  margin: 10px;
  font-size: small;
  padding: 10px 10px;
  border-radius: 5px;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--LC-Dark-Blue);
}

/* CARD STYLING */
.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 400px;
}

@media only screen and (max-width: 1013px) {
  .cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
  }
}

.contentCard{
  border-radius: 5px;
  box-shadow: 5px 5px 10px #ededed;
  box-sizing: border-box;
  width: 250px;
  height: 300px;
  margin: 0 2%;
  overflow: hidden;
  background-color: #ffffff;
}

@media only screen and (max-width: 1013px) {
  .contentCard{
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ededed;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    margin: 2% 0;
    overflow: hidden;
    background-color: #ffffff;
  }
}

.cardImage {
  width: 250px;
}

p.cardText {
  color: #6c6c6c;
  font-size: small;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.cardTitle {
  color: var(--LC-Vivid-Blue);
  font-weight: 600;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* FOOTER */
.footerDiv {
  height: 100px;
  background-color: var(--LC-Black);
  position: relative;
}

@media only screen and (max-width: 1013px) {
  .footerDiv {
    height: 100px;
    background-color: var(--LC-Black);
    position: relative;
  }
}